header img{
    height: 150px;
    width: 250px;
    float: left;
}
header input{
    float: left;
    width: 350px;
    height: 30px;
    float: none;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 50px;
}
main h2{
    margin-top: 100px;
}
header hr{
    margin-top: 80px;
}
header{
    color: black;
}